#source{
	direction: rtl;
}

form#tr{
	height: 100px;
	width: 100%;
	margin: 1.5%;
}

form#tr textarea{
	height: 100%;
	width: 42%;
}


form#tr textarea{
	/*width: 300px;*/
	display: inline-block;
}
form#tr input#go{
	display: inline-block;
	top: -56px;
	position: relative;
	margin: 1%;
	width: 10%;
	height: 80px;
	font-size: 15px;
	padding: 0;
}
